***REMOVED***

***REMOVED***
***REMOVED***
***REMOVED***
***REMOVED***

azure_servicebus_connection_string = "Endpoint=sb://mcpservicebusns21651.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=***REMOVED***"
***REMOVED***
***REMOVED***
***REMOVED***

***REMOVED***
***REMOVED***
***REMOVED***
***REMOVED***
***REMOVED***
***REMOVED***

***REMOVED***
***REMOVED***
***REMOVED***
