***REMOVED***

***REMOVED***
***REMOVED***
***REMOVED***
***REMOVED***

azure_servicebus_connection_string = "Endpoint=sb://<your-servicebus-namespace>.servicebus.windows.net/;SharedAccessKeyName=<key-name>;SharedAccessKey=<key>"
***REMOVED***
***REMOVED***
